#newO_left
{
    margin: 2px;
    padding: 2px;
    float: left;
}
#newO_rigth
{
    margin: 2px;
    padding: 2px;
    float: left;
}
td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}
head
{
    width: 100%;
    height: 20px;
    background-color: gray;
}
footer{
    width: 100%;
    height: 20px;
    background-color: gray;
}